body{
  text-align:center;
  background-color:honeydew;
}
/*Edits made to the body of the webpage*/

#spinner{
  font-size: 140px;
}
#spinner:after {
  display: inline-block;
  content: '◌';
  animation: rotation_anim 1s linear infinite;
}
@keyframes rotation_anim {
  0%{
    transform: rotatez(0deg);
  }
	100% {
    transform: rotatez(360deg);
	}
}
/*The above spinner ID rotates infinitely on the Z axis */



#chart {
    border: 1px solid black;
    margin:auto;
    background-color: aliceblue;
}
/*The above aligns the chart and adds a alice blue background*/

/*Scrapped Code: 


The below code was used to help gain an understanding of Java script, CSS, and HTML.
div.rotate {
  width: 50px;
  height: 50px;
  background-color: chocolate;
}
.rotate:hover {
  transform: rotate(35deg); 
  background-color: deeppink;
}
.loader {
  width: 48px;
  height: 48px;
  border: 3px dotted rgb(0, 0, 0);
  border-style: solid solid dotted dotted;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}
.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px dotted #FF3D00;
  border-style: solid solid dotted;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  animation: rotationBack 1s linear infinite;
  transform-origin: center center;
}
  
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
} 
https://cssloaders.github.io

.spinner:hover {
  animation: rotation_anim 1s linear infinite;
}


.container{
  
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  
}



.text{
	padding: 30px 0;
	font-size: 80px;
	font-weight: bold;
	color: #4169e1;
	line-height:0;
}

.text span{
	display: inline-block;
  color: rgb(255, 221, 0);
}


.text span:hover{
	color: #000;
	animation: rotation_anim 1s linear infinite;
  transform-origin: 0 0;
}
div.rotate {
  width: 50px;
  height: 50px;
  background-color: chocolate;
}
.rotate:hover {
  transform: rotate(35deg); 
  background-color: deeppink;
}

Scrapped HTML 
<div class = "rotate"> </div>


<div class="container">
	<p class="text">
		<span>O</span><span>N</span><span>E</span> <span>N</span><span>O</span><span>T</span><span>E</span><span>S</span>
	</p>
</div>
<p>
    <span class="loader"></span>
</p>

*/

  /*position: relative;*/
  /*content: '◌';*/
  		/*transform: rotatey(360deg);*/
    /*transform: rotatex(360deg);*/
    /*https://codepen.io/yochans/pen/RwoRdBe Link used for finding out how to rotate elements*/ 